<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089984479500-17q1fmf8oe9avisnke71j4bn4l8jm8qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089984479500-17q1fmf8oe9avisnke71j4bn4l8jm8qn</string>
	<key>API_KEY</key>
	<string>AIzaSyDG-2tWfebt1WQY1-62P6WM_LAsizEVLYw</string>
	<key>GCM_SENDER_ID</key>
	<string>1089984479500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>karoljagiello.IDAS</string>
	<key>PROJECT_ID</key>
	<string>dating-app-idas</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-app-idas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089984479500:ios:e26e40148e06333a1a0929</string>
</dict>
</plist>